<h1>New long_running_task</h1>

<% form_for(@long_running_task) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :task %><br />
    <%= f.text_field :task %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', long_running_tasks_path %>
